$margin-fit: 0 20px 0 12px;

.container {
    margin-top: 20px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin: $margin-fit;
}

.bottom {
    margin-top: 24px;
    margin: $margin-fit;
    margin-top: 24px;
}