$margin-fit: 12px;

.__avatar {
    margin-top: 5px;
}

.content {
    margin-left: 8px;
}

.content_top{
    span {
        font-size: 14px;
        margin-left: 4px;
    }
}

.content_bottom  {
    strong {
        font-size: 14px;
        font-weight: 700 !important;
    }

    span {
        background-color: #ECECEC;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        padding: 2px;
    }

    span:nth-child(2) {
        margin-left: 4px;
    } 
}
