.container {
    height: 56px;
    border-bottom: 2px solid #EEF2F4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //mobile
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        margin: 0 8px;
    }
}

.__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.__accepted {
    font-weight: 500;
    font-size: 12px ;
    line-height: 15px;
}

.__username {
    font-weight: 700;
    font-size: 12px ;
    line-height: 15px;
    margin-left: 4px;
}