.container {
    margin-top: 20px;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.__username {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.__content {
    margin-left: 20px;
}