.container {
    padding: 0 4px;
    margin-top: 20px;

    //desktop
    @media only screen and (min-width: 768px) {
        border: 2px solid #ECF0F2;
        border-radius: 12px;
        padding: 20px 24px;
    }
    
    //mobile
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.--accepted{
    background: #FFFFFF;
    border: 2px solid #0ECC15;
    border-radius: 8px;
}

.__text_content {
    margin-top: 16px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    //mobile
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        padding: 0 12px;
    }
}