.container {
    padding: 12px 0;
    margin-top: 20px;
    width: 100%;
    // height: 48px;
    border-top: 2px solid #EEF2F4;
    border-bottom: 2px solid #EEF2F4;

    //mobile
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        padding: 8px 0 8px 8px;
    }
}

.__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.__row_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.__row_count {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4px;
}

.__row_comment {
    margin-left: 44px;
}
