.__input {
    height: 38px;
    width: 100%;
    background: #EEF4F9;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    
    input {
        width: 100%;
        padding: 10px 16px 8px 12px;
        background: #EEF4F9;
        border: none;
        outline: none;
    }

    img {
        margin-right: 8px;
    }
}