$margin-fit: 24px 16px 0 10px;
.bottom {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //mobile
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        margin: $margin-fit;
    }
}

.icon_three_dot {
    margin-left: 20px;
    padding: 0 4px;
}

.__button {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0 16px;
}

