* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: scroll;
}

.col {
  @media only screen and (min-width: 360px) and (max-width: 768px) {
    margin: 0;
  }
}

.col-right {
  margin: 20px 0 0 20px;
}